.showingData
    display: none

.peliculas-list
    display: table

.title-pelicula
    cursor: pointer
    &:hover
        font-size:1em
        color: #d8ff00
.select
    color: #d8ff00
    font-weight: bold