<p>Pelicula favorita</p>

<button (click) = "onShowHide(true)" [class.showingData]="mostrarDatos === true">
  Mostrar datos
  </button>

<button (click) = "onShowHide(false)" [class.showingData]="mostrarDatos === false">
  Ocultar datos
</button>

<ul *ngIf="mostrarDatos === true">
  <li>Titulo: {{pelicula.titulo}}</li>
  <li>Director: {{pelicula.director}}</li>
  <li>Año: {{pelicula.anio}}</li>
</ul>

<p>
  Cambiar tiutlo
  <input type="text" (keyup) = "debug(true)" [(ngModel)] = "pelicula.titulo">
</p>
<hr>
<p>Listado de peliculas</p>
  <ul *ngFor = "let pelicula of peliculas">
    <li (click)="onCambiarPelicula(pelicula)" class="c_pointer">Titulo: {{pelicula.titulo}}</li>
    <li>Director: {{pelicula.director}}</li>
    <li *ngIf="pelicula.anio" >Año: {{pelicula.anio}}</li>
    <br>
  </ul>
