/* You can add global styles to this file, and also import other style files */

body
   font-family: 'Roboto', sans-serif
   margin: 0
   padding: 0

app-root
    display: block
    background-color: #8da3b1

app-peliculas-footer
    display: block
    background-color: black
    color: white
    padding: 1em
    text-align: center
